.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  margin-bottom: 200px;
}

.container-form-login {
  color: black;
}

.login-name {
  color: unset;
}

.login-form {
  width: 400px;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-input-container {
  position: relative;
  margin-top: 10px;
}

.login-button {
  border: solid 1px black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-error {
  color: red;
}